@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css 또는 globals.css */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 모든 input 요소에 대해 적용 */
input, textarea, select {
  font-size: 16px !important;
}

/* 또는 모바일에서만 적용 */
@media (max-width: 768px) {
  input, textarea, select {
    font-size: 16px !important;
  }
}

